<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <resource-ref>
        <description>com_vanging_www_yoyo</description>
        <res-ref-name>jdbc/com_vanging_www_yoyo</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <servlet>
        <servlet-name>/</servlet-name>
        <servlet-class>com.vanging.www.yoyo.restful.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>/</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>